.arrow {
  height: 20px;

  padding-top: 8px;
}

.thumbnail {
  width: 100%;
  display: block;
}




.video-title {

  font-size: 14px;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;

}

.video-author {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 3px;
}

.video-stats {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-top: 0px;
}





.prof-pic {
  display: inline-block;
  width: 40px;
  border-radius: 20px;
  margin-left: 5px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;


}

.video-card {

  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  transition: transform 0.15s;

}


.video-card:hover {
  transform: scale(1.1);
  /* z-index: 101; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.left-container {
  display: inline-block;
  vertical-align: top;
  width: 50px;




}

.right-container {
  display: inline-block;




}

.top-container {
  position: relative;
}

.time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.bottom-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 5px;
  margin-top: 12px;

}